@font-face {
    font-family: 'SFPro Regular';
    src: url('../resources/fonts/SF-Pro-Display-Regular.otf') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro Regular Italic';
    src: url('../resources/fonts/SF-Pro-Display-RegularItalic.otf') format('woff2');
    font-weight: 500;
    font-style: italic;
}
  
@font-face {
    font-family: 'SFPro Bold';
    src: url('../resources/fonts/SF-Pro-Display-Bold.otf') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro Bold Italic';
    src: url('../resources/fonts/SF-Pro-Display-BoldItalic.otf') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SFPro Black';
    src: url('../resources/fonts/SF-Pro-Display-Black.otf') format('woff2');
    font-weight: 1200;
    font-style: normal;
}

@font-face {
    font-family: 'SFPro Black Italic';
    src: url('../resources/fonts/SF-Pro-Display-BlackItalic.otf') format('woff2');
    font-weight: 1200;
    font-style: italic;
}

@font-face {
    font-family: 'LinhAvantgarde';
    src: url('../resources/fonts/LINH\ AVANTGARDE\ REGULAR.TTF') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'LinhAvantgarde SemiBold';
    src: url('../resources/fonts/LINH\ AVANTGARDE\ DEMIBOLD.TTF') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'LinhAvantgarde Bold';
    src: url('../resources/fonts/LINH\ AVANTGARDE\ BOLD.TTF') format('woff2');
    font-weight: 1200;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 8px;
    z-index: 101;
}
  
::-webkit-scrollbar-track {
    background: white;
}
  
::-webkit-scrollbar-thumb {
    background-color: #001B4C;;
    border-radius: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'SFPro Regular', sans-serif;
    position: relative;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

button {
    font-family: 'SFPro Bold';
}

header {
    background-color: #001B4C;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .12);
    display: flex;
}

#hess-header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    top: 0;
    z-index: 1;
}

.left-section {
    display: flex;
    align-items: center;
    margin-left: 50px;
    .logo {
        margin: 10px;
    }

    .title {
        margin: 20px;
    }
}

.right-header-section {
    margin-right: 100px;
    display: flex;
    justify-content: center;
}

.btn-login-header {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 35px;
    text-transform: uppercase;
    margin-left: 3px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 17px;
}

#main {
    margin-top: -100px;
}

.banner {
    width: 100%;
}

#hess-footer {
    margin: 0;
    padding: 10px 100px;
    background-color: #F2F6FC;

    .footer-container {
        padding-top: 48px;
        padding-bottom: 16px;
        display: flex;
        flex-direction: column;
        gap: 48px;
    }
}

.footer-row {
    display: flex;
    flex-flow: row wrap;
    min-width: 0;
    padding: 10px;
}

.footer-left-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 75%;
    max-width: 75%;
    .footer-logo-seee {
        display: flex;
        gap: 20px;
        align-items: center;
        .text-slogan {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .text-modile {
                font-family: 'LinhAvantgarde Bold';
                font-size: 24px;
                color: #AA1D2B;
            }
            .text-sub-slogan {
                font-family: 'LinhAvantgarde SemiBold';
                font-size: 20px;
                color: #AA1D2B;
            }
        }
    }
}

.info-footer {
    display: flex;
    flex-direction: column;
    gap: 18px;
    .item-info {
        display: flex;
        align-items: center;
        gap: 10px;
        .content-info {
            font-family: 'SFPro Bold';
            font-size: 18px;
        }
    }
}

.footer-right-col {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 25%;
    max-width: 25%;
    .column-panel {
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        .title-column-panel {
            font-size: 20px;
            font-family: 'LinhAvantgarde Bold';
            color: #000;
        }
        .column-panel-divider {
            margin-top: 10px;
            width: 100%;
            height: 3px;
            background-color: #CE1628;
        }
    }
}

.bottom-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    border-top: 1px solid #CCCCCC;
    .copyright-bottom {
        font-size: 17px;
        font-family: 'SFPro Regular';
        color: #646a7c;
        text-align: justify;
        padding-right: 20px;
    }
}